.result {
  .container {
    padding: 45px 50px 0;
  }

  .title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 26px;
  }

  .message {
    font-size: 20px;
    margin-bottom: 63px;
    max-width: 580px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
  }
}
